body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container-body {
    width: 100%;
    padding: 25px;
}

table, tr, td input {
    width: 100%;
    max-width: 100%;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  fill: none;
  stroke: #bbb;
}

#graph-container {
    margin-top: 35px;
}

svg {
    border: 1px solid rgba(230, 230, 230, 1);
}

#feed {
    max-height: 175px;
    height: 175px;
    overflow-y: scroll;
}

#feed .entry {
    padding: 11.5px;
}

#feed .entry span {
    padding-right: 10px;
}